name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.7.0"
          cache: true
          # Manually Update this `key`
          cache-key: "20230126"
      - run: dart pub global activate coverage

      #
      # Parchment
      #

      - name: Parchment - Install dependencies
        working-directory: ./packages/parchment
        run: flutter pub get

      - name: Parchment - Verify formatting
        working-directory: ./packages/parchment
        run: dart format --output=none --set-exit-if-changed .

      - name: Parchment - Analyze project source
        working-directory: ./packages/parchment
        run: dart analyze --fatal-infos

      - name: Parchment - Run tests
        working-directory: ./packages/parchment
        run: |
          dart test --coverage coverage
          dart pub global run coverage:format_coverage --lcov --in ./coverage --out ./coverage/lcov.info --report-on:lib

      #
      # Fleather
      #

      - name: Fleather - Install dependencies
        working-directory: ./packages/fleather
        run: flutter pub get

      - name: Fleather - Verify formatting
        working-directory: ./packages/fleather
        run: dart format --output=none --set-exit-if-changed .

      - name: Fleather - Analyze project source
        working-directory: ./packages/fleather
        run: flutter analyze --fatal-infos

      - name: Fleather - Run tests
        working-directory: ./packages/fleather
        run: flutter test --coverage

      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./packages/fleather/coverage/lcov.info,./packages/parchment/coverage/lcov.info
          fail_ci_if_error: true
